---
layout: bootstrap
title: Aaron Bery
---
<div class="row">
    <div class="col-md-6">
      <h3>Latest Posts</h3>
      <div class="col-md-12">
        {% include latest-posts.html %}
      </div>
    </div>
    <div class="col-md-6">
      <h3>Contact me</h3>
      <div class="col-md-12">
        <p>
          I'm currently working on a big project until September 2017 but would love to hear from you if you have any projects with an urgent requirement for an AngularJS developer.
        </p>
        <p>
          <a class="btn btn-default" href="mailto:aaron@supercodingheroes.com" role="button">Email</a>
        </p>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>What I've worked on</h3>
    <div class="col-md-4">
      {% include portfolio-description.html %}
    </div>
    <div class="col-md-8">
      {% include portfolio-carousel.html %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 id="about">About me</h3>
    <div class="col-md-12">
      <img src="/assets/images/me.jpg" class="image-responsive image-responsive--small img-circle" align="right" />
      <p>
        I'm a freelance front-end developer specializing in AngularJS and Backbone.js.
        <br />
        I have worked on and created numerous single page applications for a number of different organizations often utilizing RESTFul web services.
        <br />
        My other passions include weight training and craft beer, but only when I can get a free evening from Dad duties.
      </p>

    </div>
  </div>
</div>

<div class="row row--disclaimer-footer">

  {% include footer-bootstrap.html %}

</div>
