<p>
I've recently completed a number of projects at the PR company Vuelio, working on a bespoke single page (AngularJS) application. The application was integrated with the legacy platform and allowed users to pin articles from around the web to create self curated pin boards of content related to their organization. In additon to 'Canvas' I also worked Vuelio's new email campaign/distribution engine, performed a facelift on the legacy application UI and styled a number of clients online media centres.
</p>
<p>
From 2014-2016, I was working at the University College London with the brief to implement a number of cutting edge technologies into the Universities front end real estate. I was tasked with developing the most high profile applications including the online prospectus in the form of a single plage application, and leading on their resposive framework project <a href="https://github.com/UCL-WAMS/indigo" title="Indigo - GitHub">'Indigo'.</a></p>
<p>
In 2012 I joined IDG UK as a Junior Web Developer working on a number of the technology websites including PC Advisor and MacWorld. In my time there I also worked on a number of the campaigns promoting high profile brands such as Dell and Samsung.
</p>
<p>
Prior to IDG UK I worked as a web assistant at St George's University (2009) and later a brief stint in a web support role at Pixl8 Interactive.
</p>
